---
import Panel from "../../Panel.astro";
import "../../../styles/marquee.css";

const logos = {
    somnio: "/img/logos/logo_somnio.webp",
    icodelabs: "/img/logos/icodelabs.png",
    riverstone: "/img/logos/riverstone.png",
    viscap: "/img/logos/viscap.svg",
    kodecreators: "/img/logos/kodecreators.svg",
    bitforge: "/img/logos/bitforge.svg",
    fyc: "/img/logos/fyc.svg",
    nfq: "/img/logos/nfq.svg",
    abacus: "/img/logos/abacus.svg"
};
---

<Panel color={"light"} container={false}>
    <div class="marquee grayscale">
        <div class="marquee-content">
            <a target="_blank" rel="noopener noreferrer" aria-label="BitForge" href="https://bitforge.ch/">
                <img src={logos.bitforge} alt="BitForge" class="w-48 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="Somnio Software" href="https://www.somniosoftware.com/">
                <img src={logos.somnio} alt="Somnio Logo" class="w-48 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="Riverstone" href="https://www.riverstonetech.com/">
                <img src={logos.riverstone} alt="Riverstone Logo" class="w-48 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="ICode Labs" href="https://icodelabs.co/">
                <img src={logos.icodelabs} alt="ICode Labs Logo" class="w-48 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="NFQ" href="https://www.nfq.com/">
                <img src={logos.nfq} alt="NFQ" class="w-44 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="FYC Labs" href="https://fyclabs.com/">
                <img src={logos.fyc} alt="FYC Labs" class="w-52 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="Kode Creators" href="https://kodecreators.com/">
                <img src={logos.kodecreators} alt="Kode Creators" class="w-52 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="Viscap" href="https://www.viscapmedia.com/">
                <img src={logos.viscap} alt="Viscap" class="w-52 m-4" loading="lazy"/>
            </a>
            <a target="_blank" rel="noopener noreferrer" aria-label="Abacus" href="https://abacusplus.ba/">
                <img src={logos.abacus} alt="Abacus" class="w-48 m-4" loading="lazy"/>
            </a>
        </div>
    </div>
</Panel>