---
import Panel from "../../Panel.astro";
import "../../../styles/marquee.css";

const MMLogo = "/img/logos/mm_logo.webp";
const ProtonLogo = "/img/logos/proton_logo.webp";
const WithULogo = "/img/logos/withu.png";
const DearDocLogo = "/img/logos/deardoc.png";
const TPALogo = "/img/logos/the_planet_app_logo.svg";
const SocialIncomeLogo = "/img/logos/social_income_logo.svg";
const MindSwitchLogo = "/img/logos/mindswitch_logo.svg";
const OikosLogo = "/img/logos/oikos_logo.svg";
const GearFocusLogo = "/img/logos/gearfocus_logo.svg";
const ClarIoLogo = "/img/logos/clario.svg";
---

<Panel color={"light"} container={false}>
    <div class="marquee grayscale">
        <div class="marquee-content">
            <a
                target="_blank"
                rel="noopener noreferrer"
                aria-label="DearDoc"
                href={"https://www.getdeardoc.com"}>
                <img loading="lazy" src={DearDocLogo}
                     alt="DearDoc Logo"
                     class="w-44 m-4"/>
            </a>
            <a
                target="_blank"
                rel="noopener noreferrer"
                aria-label="MedicalMotion"
                href={"https://medicalmotion.com"}>
                <img loading="lazy" src={MMLogo}
                     alt="MedicalMotion Logo"
                     class="w-44 m-4"/>
            </a>
            <a
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Proton Health"
                href={"https://www.proton-health.com"}>
                <img loading="lazy" src={ProtonLogo}
                     alt="Proton Health"
                     class="w-48 m-4"/>
            </a>
            <a
                target="_blank"
                rel="noopener noreferrer"
                aria-label="WithU training"
                href={"https://www.withuapp.com//"}>

                <img loading="lazy" src={WithULogo}
                     alt="WithU"
                     class="w-48 m-4"/>
            </a>

            <a class="flex h-min transition-colors text-gray-700 !no-underline rounded-button-md px-1 m-4 font-serif text-2xl font-extrabold !hover:no-underline hover:text-gray-900 dark:text-gray-900 dark:hover:text-gray-900"
               href="https://claimgem.com/">ClaimGem</a>

            <a
                target="_blank"
                aria-label="Social Income"
                rel="noopener noreferrer"
                href={"https://socialincome.org"}>
                <img loading="lazy" src={SocialIncomeLogo} class="w-48 h-auto m-4" alt="Social Income"/>
            </a>
            <a
                target="_blank"
                aria-label="Clario"
                rel="noopener noreferrer"
                href={"https://clario.co/"}>
                <img loading="lazy" src={ClarIoLogo} class="w-52 m-4" alt="Clario"/>
            </a>
            <a
                target="_blank"
                aria-label="GearFocus"
                href={"https://www.gearfocus.com/"}>
                <img loading="lazy" src={GearFocusLogo} class="w-52 m-4" alt="GearFocus"/>
            </a>
            <a
                target="_blank"
                aria-label="Mindswitch"
                rel="noopener noreferrer"
                href={"https://www.mindswitch.me/"}>
                <img loading="lazy" src={MindSwitchLogo} class="w-48 m-4" alt="Mindswitch"/>
            </a>
        </div>
    </div>
</Panel>